.App {
  text-align: center;
}

div{
  background-color: lightsalmon;
  color: white;
  padding: 50px;
  text-align: center;
}

h1 {
  color: black;
}

h3 {
  color: blue;
}

.class1 {
  color: green;
}

#id2 {
  color: red;
}

