@import url('https://fonts.googleapis.com/css2?family=Orbit&family=Poor+Story&display=swap');

/*다운로드 하여 public 에 넣었을 때
@font-face {   
  font-family: 글꼴명;
  src: url('/public/글꼴명.ttf');
}  */

* {
  font-family: "Orbit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html, body {
  margin: 0;
  width: 100%;
  background-color: rgb(219, 244, 250);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  background-color: white;
  width: 600px;
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
  padding: 0 20px;
  box-shadow: lightgray 0px 0px 30px 0px;
}
